.flex {
  display: flex;
  gap: 0.5rem;
}

.flex-col {
  flex-direction: column;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fill-space {
  flex: 1;
  height: 100%;
  width: 100%;
}

.pointer {
  cursor: pointer;
}

.flow {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.hidden {
  display: none !important;
}

.no-margin {
  margin: 0 !important;
}

.margin-top {
  margin-top: 0.5rem !important;
}
